{% extends "layout_admin.html" %}


 {% block nav %}
    <li class="nav-item">
        <div class="btn-group" role="group">
            <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Hello! {{username}}
            </button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                <a class="dropdown-item" href="#">Log out</a>
            </div>
        </div>
    </li>
{% endblock %}


{% block content %}

    <div class="jumbotron">
   
    </div>

    <div>
        <div class=" row ">
            <div class="col-2">
                <label class="col-form-label col-form-label-lg" for="searchBox1">Asset Type : </label>
            </div>
            <div class="col-3">
                <select class="custom-select custom-select-lg mb-3" id="searchBox1" onchange="location = this.value;">
                    <option selected> choose asset type </option>
                    {% for value in type: %}

                    {% if value[0] == 'Tablet' %}
                    <option value="{{ url_for('admin_tablet') }}">{{ value[0]}} </option>
                    {% elif value[0] == 'Mobile Phone'%}
                    <option value="{{ url_for('admin_mobile') }}">{{ value[0]}} </option>
                    {% elif value[0] == 'Laptop'%}
                    <option value="{{ url_for('admin_laptop') }}">{{ value[0]}} </option>
                    {% else %}
                    <option value="{{ url_for('adminview') }}">{{ value[0]}} </option>
                    {% endif %}


                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
    <div class="container" style="overflow-x:auto;">
        <h1>Mobile Phones :</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="row"> </th>
                    <th> Asset Name </th>
                    <th> Asset Type </th>
                    <th> Details </th>
                </tr>
            </thead>
            {%  for rows in tableRows: %}
            <tbody>
                <tr>
                    <th scope="row"></th>
                    {%  for x in rows: %}
                    <td>{{ x }}</td>
                    {% endfor %}
                    <td><a href="#" class="text-primary">Edit</a></td>
                    <td><a href="#" class="text-primary">Delete</a>
                    <td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>


{% endblock %}
