{% extends "layout_admin.html" %}


 {% block nav %}
<li class="nav-item">
    <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Hello! {{username}}
        </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
            <a class="dropdown-item" href="{{ url_for('logout') }}  ">Log out</a>
        </div>
    </div>
</li>
{% endblock %}

{% block content %}


<div class="jumbotron">
    <div class=" row ">
        <div class="col-2">

            <label class="col-form-label col-form-label-lg" for="searchBox1">Asset Type : </label>

        </div>
        <div class="col-3">
            <select class="custom-select custom-select-lg mb-3" id="searchBox1" onchange="location = this.value;">
                {% for value in type: %}

                {% if value[0] == 'Tablet' %}
                <option value="{{ url_for('admin_tablet') }}" selected>{{ value[0]}} </option>
                {% elif value[0] == 'Mobile Phone'%}
                <option value="{{ url_for('admin_mobile') }}">{{ value[0]}} </option>
                {% elif value[0] == 'Laptop'%}
                <option value="{{ url_for('admin_laptop') }}">{{ value[0]}} </option>
                {% else %}
                <option value="{{ url_for('adminview') }}" disabled>{{ value[0]}} </option>
                {% endif %}


                {% endfor %}
            </select>
        </div>
    </div>
</div>
<div class="container" style="overflow-x:auto;">
    <div class="row">
        <div class="col-md-8">
            <h1>Tablets :</h1>
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary" onclick="makeCSV()">Make CSV</button>
        </div>
        <div class="col-md-2">
            <div id="downloadLink"></div>
        </div>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="row"> </th>
                <th> Asset Name </th>
                <th> Asset Type </th>
                {%  for x in keys: %}
                <th> {{ x }} </th>
                {% endfor %}
            </tr>
        </thead>
        {%  for row in range(rows|length): %}
        <tbody>
            <tr>
                <td scope="row"><input type="checkbox" name="row-check" value="{{ rows[row][0] }}"></td>
                <td>{{ rows[row][1] }}</td>
                <td>{{ rows[row][2] }}</td>
                {%  for x in res[row]: %}
                <td>{{ x }}</td>
                {% endfor %}
                <td><a href="{{ url_for('update_assetsMobile')}}?id={{ rows[row][0] }}" class="text-primary">Edit</a></td>
                <td><a href="{{ url_for('delete_main')}}?id={{ rows[row][0] }}" class="text-primary">Delete</a>
                <td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
</div>


{% endblock %}
