{% extends "layout_admin.html" %}


{% block content %}
<div class="adminMainContainer">
    <div class="homeHeader">
        <h2>Welcome to Asset Management Home</h2>
    </div>
    <br>
    <h3 style="text-align:center">System Directory:</h3>
    <br>
    <ul>
        <li>View Assets</li>
        <li>Create New Assets</li>
        <li>Create Asset Types</li>
        <li>View Asset History</li>
        <li>Import Assets</li>
        <li>View Site Details</li>
        <li>Create Site Details</li>
    </ul>
    <br>
    <p><i>Please use the navigation bar to browse this application.</i></p>
</div>

{% endblock %}