{% extends "layout_admin.html" %}


{% block nav %}
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdownMenu"
       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Hello! {{username}}</a>

    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenu">
        <a class="dropdown-item" href="{{ url_for('logout') }}  ">Log out</a>
    </div>
</li>
{% endblock %}


{% block content %}


<div class="title"><h1>{{ header }}</h1></div>
<div class="msg">{{ msg }}</div>

<form action="{{ submit_url }}" method="post" id="mobileform">
    <h3>Asset Characteristics:</h3>
    <br>
    <div>
        <label for="assetType"><strong>Type:</strong></label>
        <select id="assetType" name="assetType" onchange="location = this.value;" disabled>
            {% for value in menu: %}
            {% if value[0] == 'Tablet' %}
            <option value="{{value[0]}}">{{value[0]}}</option>
            {% elif value[0] == 'Mobile Phone' %}
            <option value="{{value[0]}}" >{{value[0]}}</option>
            {% elif value[0] == 'Laptop' %}
            <option value="{{value[0]}}"selected>{{value[0]}}</option>
            {% else %}
            <option value="{{url_for('asset_type') }}" disabled>{{value[0]}}</option>
            {% endif %}

            {% endfor %}
        </select>

        <label for="assetMake"><strong>Make:</strong></label>
        <input type="text" class="" name="assetMake" value="{{ asset_kv_pair['assetMake'] }}" disabled />

        <label for="assetStatus"><strong>Status:</strong></label>
        <input type="text" class="" name="assetStatus" value="{{ asset_kv_pair['assetStatus'] }}" disabled />
    </div>

    <div>
        <label for="assetName"><strong>Asset Name:</strong><input type="text" class="" name="assetName" value="{{asset_details[0][1]}}" disabled /></label>
        <label for="assetModel"><strong>Model:</strong><input type="text" class="" name="assetModel" value="{{ asset_kv_pair['assetModel'] }}" disabled /></label>
    </div>

    <div>
        <label for="assetAssigned"><strong>Assigned To:</strong><input type="text" class="" name="assetAssigned" value="" disabled /></label>
        <label for="assetDate"><strong>Purchase Date:</strong><input type="text" class="" name="assetDate" value="{{ asset_kv_pair['assetDate'] }}" disabled /></label>
    </div>


    <br>
    <h3>Mobile Asset Characteristics</h3>
    <br>

    <div>
        <label for="assetMobileNo"><strong>Mobile Number:</strong><input type="number" class="" name="assetMobileNo" value="{{ asset_kv_pair['assetMobileNo'] }}" disabled /></label>
        <label for="assetIEMI"><strong>IEMI:</strong><input type="number" class="" name="assetIEMI" value="{{ asset_kv_pair['assetIEMI'] }}" disabled /></label>
        <label for="assetPin"><strong>PIN:</strong><input type="number" class="" name="assetPin" value="{{ asset_kv_pair['assetPin'] }}" disabled /></label>
    </div>

    <br>
    <h3>Additional Characteristics</h3>
    <br>
    <div>
        <strong>Asset Specifications:</strong>
        <br>

        <textarea rows="5" cols="50" name="assetNotes" placeholder="Enter Additional Asset Specifications Here" disabled>{{ asset_kv_pair['assetNotes'] }}</textarea>
        <br>
        <br>
    </div>

    <div>
        <div style="display:none;">
            <input type="text" class="hidden" name="assetID" value="{{asset_details[0][0]}}" />
        </div>
        <input class="btn btn-primary" type="Submit" value="Confirm">
    </div>
</form>

<div>
    <a class="btn btn-primary" href="{{ url_for('admin_laptop') }}">Cancel</a>
</div>

{% endblock %}
