{% extends "layout_admin.html" %}

 {% block nav %}
    <li class="nav-item">
        <div class="btn-group" role="group">
            <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Hello! {{username}}
            </button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                <a class="dropdown-item" href="#">Log out</a>
            </div>
        </div>
    </li>
   
{% endblock %}


{% block content %}

<div class="jumbotron">
    <h1>Flask</h1>
    <p class="lead">Flask is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://flask.pocoo.org/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="container">
    <hr>
    <div class="row">
        <div class="col-md-2 mb-3">
            <ul class="nav nav-pills flex-column" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#improt" role="tab" aria-controls="home" aria-selected="true">Import</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#template" role="tab" aria-controls="profile" aria-selected="false">Download Template</a>
                </li>
            </ul>
        </div>
        <!-- /.col-md-2 -->
        <div class="col-md-10">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="improt" role="tabpanel" aria-labelledby="home-tab">
                    <div class=" row ">
                        <div class="col-md-4">
                            <form action="/import_request" method="POST" enctype=multipart/form-data>
                                <div class="form-group">
                                    <label for="uploadfile">Import file(.csv & .xlsx)</label>
                                    <input type="file" accept=".csv,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" class="form-control-file" id="uploadfile" name="upload_file">
                                </div>
                                <h5>Select asset type : </h5>
                                {% for line in type: %}
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="id{{ line[0] }}" name="{{ line[0] }}" class="custom-control-input">
                                    <label class="custom-control-label" for="id{{ line[0]}}">{{ line[0] }}</label>
                                </div>
                                {% endfor %}
                                <br>
                                <button type="submit" class="btn btn-primary mb-2"> Upload </button>
                            </form>
                        </div>

                        <div class="col-md-6">
                            <table class="table table-striped">
                                <thead>
                                    {%  for row in header: %}
                                    <tr>
                                        <th scope="row"> </th>
                                        {%  for line in range(row|length) : %}
                                        <th> {{ row[line] }} </th>
                                        {% endfor %}
                                    </tr>
                                    {% endfor %}
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="template" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="col-md-4">
                        <h2>Profile</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, eveniet earum. Sed accusantium eligendi molestiae quo hic velit nobis et, tempora placeat ratione rem blanditiis voluptates vel ipsam? Facilis, earum!</p>
                    </div>
                    <div class="col-md-6">
                    </div>
                </div>
                
                <!-- /.col-md-10-->

            </div>
         </div>
    </div>
</div>
{% endblock %}
