{% extends "layout_admin.html" %}

{% block nav %}
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdownMenu"
       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Hello! {{username}}</a>

    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenu">
        <a class="dropdown-item" href="{{ url_for('logout') }}  ">Log out</a>
    </div>
</li>
{% endblock %}


{% block content %}
<div class="jumbotron">

    <div style="text-align:center">
        <h2>{{ msg }} </h2>
        <br>
        <div class="col-10 col-md-8 col-lg-6">
            <a class="btn btn-primary btn-block" href="{{url_for('import_main')}}" tabindex="-1"> OK </a>
        </div>

    </div>
</div>

{% endblock %}
