{% extends "layout_admin.html" %}


{% block content %}
<div class="jumbotron">

    <div style="text-align:center">
        <h2>{{ msg }} </h2>
        <br>
        <div class="row">
            <div class="col-sm">
             
            </div>
            <div class="col-sm">
                <a class="btn btn-primary btn-block" href="{{url_for('import_main')}}" tabindex="-1"> OK </a>
            </div>
            <div class="col-sm">
              
            </div>
    

    </div>
</div>

{% endblock %}
