{% extends "layout_admin.html" %}

{% block nav %}
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdownMenu"
       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Hello! {{username}}</a>

    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenu">
        <a class="dropdown-item" href="{{ url_for('logout') }}  ">Log out</a>
    </div>
</li>
{% endblock %}


{% block content %}

<div class="container">
    <hr>
    <div class="row">
        <div class="col-md-4 mb-3">
            <ul class="nav nav-pills flex-column" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#improt" role="tab" aria-controls="home" aria-selected="true">Import</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#template" role="tab" aria-controls="profile" aria-selected="false">Download Template</a>
                </li>
            </ul>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-8">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="improt" role="tabpanel" aria-labelledby="home-tab">
                    <div class="text-success">
                        {{ msg }}
                    </div>
                    <form action="/import_request" method="POST" enctype=multipart/form-data>
                        <div class=" row ">
                            <div class="col-md-10">

                                <div class="form-group">
                                    <label for="uploadfile"><strong>Import file(.csv & .xlsx):</strong></label>
                                    <input type="file" accept=".csv,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" class="form-control-file" id="uploadfile" name="upload_file">
                                </div>
                                <br>
                                <br>
                                <button type="submit" class="btn btn-primary mb-2"> Upload </button>
                            </div>
                        </div>
                    </form>

                </div>

                <div class="tab-pane fade" id="template" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="col-md-10">
                        <h2>templates for download: </h2>
                        <ul class="nav flex-column">
                            {% for file in files %}
                            <li class="nav-item">
                                <a href={{ url_for('static', filename=file) }}>Download : {{ file }} </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                <!-- /.col-md-8-->

            </div>
        </div>
    </div>
</div>
{% endblock %}
