<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - Assets Management System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{url_for('static',filename = 'styles.css')}}">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <script src="/static/js/jquery.tabletoCSV.js" type="text/javascript" charset="utf-8"></script>
    <script>
        $(function () {
            $("#export").click(function () {
                $("#tableView").tableToCSV();
            });
        });
    </script>
    <script>


        function printRecords() {
            var divToPrint = document.getElementById("tableView");
            var WindowObject = window.open();
            WindowObject.document.write(divToPrint.outerHTML);
            WindowObject.focus();
            WindowObject.print();
            WindowObject.close();
        }

        $('button').on('click', function () {
            printRecords();
        })
    </script>
    {% block scripts %} {% endblock %}
</head>
<body>

    <div class="navcontainerwrapper">
        <div class="topnavcontainer">
            <div class="row">
                <div class="col-md-5 col-sm-2">
                    <a href="{{ url_for('home')}}">
                        <img id="output" name="logo" alt="Logo" src="{{url_for('static',filename = 'image/logo.png')}}" />
                    </a>
                </div>
                <div class="col-md-7 col-sm-10">

                    <div class="row" hidden>
                        <h1> Hidden line</h1>>
                    </div>
                    <div class="row">
                        <div class="subnavcontainer">
                            <div class="subnavheader">
                                <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup"></div>
                                <ul class="nav">
                                    <li class="nav-item">
                                        <a class="nav-link text-light " href="{{ url_for('adminview') }}" tabindex="-1">View Assets</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-light" href="{{ url_for('view_history') }}" tabindex="-1">View Asset History</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-light" href="{{ url_for('view_users') }}" tabindex="-1">User details</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-light" href="{{ url_for('site_all_details') }}" tabindex="-1">Site Details</a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdownMenu"
                                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Settings</a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenu">
                                            <a class="dropdown-item text-secondary" href="{{ url_for('import_main') }}" tabindex="-1">Import Data </a>
                                            <a class="dropdown-item text-secondary" href="{{ url_for('new_assets') }}" tabindex="-1">Add New Assets</a>
                                            <a class="dropdown-item text-secondary" href="{{ url_for('asset_type') }}" tabindex="-1"> Create Asset Type</a>
                                            <a class="dropdown-item text-secondary" href="{{ url_for('add_users') }}" tabindex="-1">Create New User</a>
                                            <a class="dropdown-item text-secondary" href="{{ url_for('site_default') }}" tabindex="-1">Create Site Details</a>
                                        </div>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenu" data-toggle="dropdown"
                                           aria-haspopup="true" aria-expanded="false"> Hello! {{username}}</a>

                                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenu">
                                            <a class="dropdown-item text-secondary" href="{{ url_for('logout') }}  ">Log Out</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>

            </div>


        </div>
    </div>

    <div class="container body-content">
        {% block content %}{% endblock %}
        <hr />
        <footer>
            <p>&copy; {{ year }} - Diona LTD</p>
        </footer>
    </div>



</body>

</html>