{% extends "layout_admin.html" %}


{% block nav %}
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdownMenu"
       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Hello! {{username}}</a>

    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenu">
        <a class="dropdown-item" href="{{ url_for('logout') }}  ">Log out</a>
    </div>
</li>
{% endblock %}


{% block content %}


<div class="formcontainer">
    <form action="add_asset" method="post" id="defaultassetform">
        <div class="h1form">
            <h1>Create New Asset - Mobile Phone</h1>
        </div>
        <br>
        <div class="h3form">
            <h3>Asset Characteristics</h3>
        </div>
        <div class="msg">{{ msg }}</div>

        <div class="row">
            <div class="column-25">
                <label for="assetType"><strong>Type:</strong></label>
            </div>
            <div class="column-50">
                <select id="assetType" name="assetType" onchange="location = this.value;">
                    <option value="#">Default</option>
                    {% for value in menu: %}
                    {% if value[0] == 'Tablet' %}
                    <option value="{{url_for('new_assetsTablet') }}">{{value[0]}}</option>
                    {% elif value[0] == 'Mobile Phone' %}
                    <option value="{{value[0]}}" selected>{{value[0]}}</option>
                    {% elif value[0] == 'Laptop' %}
                    <option value="{{url_for('new_assetsLaptop') }}">{{value[0]}}</option>
                    {% else %}
                    <option value="{{url_for('new_asset_default') }}">{{value[0]}}</option>
                    {% endif %}

                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="row">
            <div class="column-25">
                <label for="Status"><strong>Status:</strong></label>
            </div>
            <div class="column-50">
                <select id="assetStatus" name="Status">
                    <option value="active">Active</option>
                    <option value="inrepair">In Repair</option>
                    <option value="condemned">Condemned</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="column-25">
                <label for="Manufacturer"><strong>Manufacturer:</strong></label>
            </div>
            <div class="column-50">
                <input type="text" class="" name="Manufacturer" value="" />
            </div>
        </div>


        <div class="row">
            <div class="column-25">
                <label for="Name"><strong>Asset Name:</strong></label>
            </div>
            <div class="column-50">
                <input type="text" class="" name="Name" value="" />
            </div>
        </div>

        <div class="row">
            <div class="column-25">
                <label for="Model"><strong>Model:</strong></label>
            </div>
            <div class="column-50">
                <input type="text" class="" name="Model" value="" />
            </div>
        </div>


        <div class="row">
            <div class="column-25">
                <label for="Hardware"><strong>Asset Hardware:</strong></label>
            </div>
            <div class="column-50">
                <input type="text" class="" name="Hardware" value="" />
            </div>
        </div>

        <div class="row">
            <div class="column-25">
                <label for="Device"><strong>Device:</strong></label>
            </div>
            <div class="column-50">
                <input type="text" class="" name="Device" value="" />
            </div>
        </div>

        <div class="row">
            <div class="column-25">
                <label for="Serial"><strong>Serial:</strong></label>
            </div>
            <div class="column-50">
                <input type="text" class="" name="Serial" value="" />
            </div>
        </div>

        <div class="row">
            <div class="column-25">
                <label for="assetAssigned"><strong>Assigned To:</strong></label>
            </div>
            <div class="column-50">
                <input type="text" class="" name="assetAssigned" value="" />
            </div>
        </div>

        <div class="row">
            <div class="column-25">
                <label for="PurchaseDate"><strong>Purchase Date:</strong></label>
            </div>
            <div class="column-50">
                <input type="text" class="" name="PurchaseDate" placeholder="YYYY-MM-DD" value=""  pattern="^\d{4}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])$" title="Please use the following format: YYYY-MM-DD." required/>
            </div>
        </div>
        <br>

        <div class="h3form">
            <h3>Mobile Asset Characteristics</h3>
        </div>

        <div class="row">
            <div class="column-25">
                <label for="MobileNo"><strong>Mobile Number:</strong></label>
            </div>
            <div class="column-50">
                <input type="text" class="" name="MobileNo" value="" pattern="^04[0-9]{8}" title="Please enter a Valid Australian mobile number." required />
            </div>
        </div>

        <div class="row">
            <div class="column-25">
                <label for="MobileIEMI"><strong>IEMI:</strong></label>
            </div>
            <div class="column-50">
                <input type="text" class="" name="MobileIEMI" value="" />
            </div>
        </div>

        <div class="row">
            <div class="column-25">
                <label for="MobilePin"><strong>PIN:</strong></label>
            </div>
            <div class="column-50">
                <input type="text" class="" name="MobilePin" value="" />
            </div>
        </div>

        <br>

        <div class="h3form">
            <h3>Additional Characteristics</h3>
        </div>
        <div class="row">
            <div class="column-25">
                <label for="Notes"><strong>Asset Notes:</strong></label>
            </div>
            <div class="column-50">
                <textarea rows="5" cols="50" name="Notes"
                          placeholder="Enter Additional Asset Specifications Here"></textarea>
            </div>
        </div>

        <p id="submitbutton"><input type="Submit" value="Save"></p>
    </form>
</div>

{% endblock %}
