{% extends "layout_admin.html" %}


{% block nav %}
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdownMenu"
       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Hello! {{username}}</a>

    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenu">
        <a class="dropdown-item" href="{{ url_for('logout') }}  ">Log out</a>
    </div>
</li>
{% endblock %}


{% block content %}


<div class="formcontainer">
    <form action="add_asset" method="post" id="defaultassetform">
        <div class="h1form">
            <h1>Create New Asset - Laptop</h1>
        </div>
        <br>
        <div class="h3form">
            <h3>Asset Characteristics</h3>
        </div>
        <div class="msg">{{ msg }}</div>

        <div class="row">
            <div class="column-25">
                <label for="assetType"><strong>Type:</strong></label>
            </div>
            <div class="column-50">
                <select id="assetType" name="assetType" onchange="location = this.value;">
                    <option value="#">Default</option>
                    {% for value in menu: %}
                    {% if value[0] == 'Tablet' %}
                    <option value="{{url_for('new_assetsTablet') }}">{{value[0]}}</option>
                    {% elif value[0] == 'Mobile Phone' %}
                    <option value="{{value[0]}}" selected>{{value[0]}}</option>
                    {% elif value[0] == 'Laptop' %}
                    <option value="{{url_for('new_assetsLaptop') }}">{{value[0]}}</option>
                    {% else %}
                    <option value="#">{{value[0]}}</option>
                    {% endif %}

                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="row">
            <div class="column-25">
                <label for="assetStatus"><strong>Status:</strong></label>
            </div>
            <div class="column-50">
                <select id="assetStatus" name="assetStatus">
                    <option value="active">Active</option>
                    <option value="inrepair">In Repair</option>
                    <option value="condemned">Condemned</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="column-25">
                <label for="assetMake"><strong>Manufacturer:</strong></label>
            </div>
            <div class="column-50">
                <input type="text" class="" name="assetMake" value="" />
            </div>
        </div>


        <div class="row">
            <div class="column-25">
                <label for="assetName"><strong>Asset Name:</strong></label>
            </div>
            <div class="column-50">
                <input type="text" class="" name="assetName" value="" />
            </div>
        </div>

        <div class="row">
            <div class="column-25">
                <label for="assetModel"><strong>Model:</strong></label>
            </div>
            <div class="column-50">
                <input type="text" class="" name="assetModel" value="" />
            </div>
        </div>


        <div class="row">
            <div class="column-25">
                <label for="assetHardware"><strong>Asset Hardware:</strong></label>
            </div>
            <div class="column-50">
                <input type="text" class="" name="assetHardware" value="" />
            </div>
        </div>

        <div class="row">
            <div class="column-25">
                <label for="assetDevice"><strong>Device:</strong></label>
            </div>
            <div class="column-50">
                <input type="text" class="" name="assetDevice" value="" />
            </div>
        </div>

        <div class="row">
            <div class="column-25">
                <label for="assetSerial"><strong>Serial:</strong></label>
            </div>
            <div class="column-50">
                <input type="text" class="" name="assetSerial" value="" />
            </div>
        </div>

        <div class="row">
            <div class="column-25">
                <label for="assetAssigned"><strong>Assigned To:</strong></label>
            </div>
            <div class="column-50">
                <input type="text" class="" name="assetAssigned" value="" />
            </div>
        </div>

        <div class="row">
            <div class="column-25">
                <label for="assetDate"><strong>Purchase Date:</strong></label>
            </div>
            <div class="column-50">
                <input type="date" class="" name="assetDate" value="" />
            </div>
        </div>
        <br>
        <div class="h3form">
            <h3>Additional Characteristics</h3>
        </div>
        <div class="row">
            <div class="column-25">
                <label for="assetNotes"><strong>Asset Notes:</strong></label>
            </div>
            <div class="column-70">
                <textarea rows="5" cols="50" name="assetNotes"
                          placeholder="Enter Additional Asset Specifications Here"></textarea>
            </div>
        </div>
        <p id="submitbutton"><input type="Submit" value="Save"></p>
    </form>
</div>

{% endblock %}

