{% extends "layout_admin.html" %}


{% block nav %}
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdownMenu"
       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Hello! {{username}}</a>

    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenu">
        <a class="dropdown-item" href="{{ url_for('logout') }}  ">Log out</a>
    </div>
</li>
{% endblock %}


{% block content %}

<div class="formcontainer">
    <div class="siteHeader">
        <h2>New Asset Item : </h2>
    </div>
    <br>
    <form action="#" method="post">
        <p>Select the Asset Type to create:</p>
        <div class=" row ">
            <div class="col-2">
                <label class="col-form-label col-form-label-lg" for="searchBox1"><strong>Type:</strong></label>
            </div>
            <div class="col-3">
                <select class="custom-select custom-select-lg mb-3" id="searchBox1" onchange="location = this.value;">
                    <option value="#" selected>Selete a type: </option>
                    {% for value in menu: %}
                    {% if value[0] == 'Tablet' %}
                    <option value="{{url_for('new_assetsTablet') }}">{{value[0]}}</option>
                    {% elif value[0] == 'Mobile Phone' %}
                    <option value="{{url_for('new_assetsMobile') }}">{{value[0]}}</option>
                    {% elif value[0] == 'Laptop' %}
                    <option value="{{url_for('new_assetsLaptop') }}">{{value[0]}}</option>
                    {% else %}
                    <option value="{{url_for('new_asset_default') }}">{{value[0]}}</option>
                    {% endif %}

                    {% endfor %}
                </select>
            </div>
        </div>

    </form>
</div>

{% endblock %}
