{% extends "layout_admin.html" %}

{% block content %}

<div>
    <h1>New Asset Item</h1>
    <br>

        <form action="#" method="post">
        <p>Select the Asset Type to create:</p>
        <br>
        <label for="assetType"><strong>Type:</strong></label>
        <select onchange="location = this.value;">
            <option value="Default">- Select a Type -</option>
            {% for value in menu: %}
            {% if value[0] == 'Tablet' %}
            <option value="{{url_for('new_assetsTablet') }}">{{value[0]}}</option>
            {% elif value[0] == 'Mobile Phone' %}
            <option value="{{url_for('new_assetsMobile') }}">{{value[0]}}</option>
            {% elif value[0] == 'Laptop' %}
            <option value="{{url_for('new_assetsLaptop') }}">{{value[0]}}</option>
            {% else %}
            <option value="{{url_for('asset_type') }}">{{value[0]}}</option>
            {% endif %}

            {% endfor %}
        </select>

        </form>
</div>

{% endblock %}