{% extends "layout_admin.html" %}

{% block nav %}
<li class="nav-item">
    <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Hello! {{username}}
        </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
            <a class="dropdown-item" href="{{ url_for('logout') }}  ">Log out</a>
        </div>
    </div>
</li>
{% endblock %}


{% block content %}

<h1>Create New Site Details</h1>
<br>
<div class="text-info">{{ msg }}</div>
<br>
<div>
    <form action="submit_site_details" method="post" id="defaultassetform">
        <h3>Asset Characteristics:</h3>
        <br>
        <div>
            <label for="siteLocation"><strong>Site Location: </strong><input type="text" class="" name="siteLocation" value="" /></label>
            <label for="siteAddress"><strong>Site Address: </strong><input type="text" class="" name="siteAddress" value="" /></label>
            <label for="siteDevice"><strong>Device: </strong><input type="text" class="" name="siteDevice" value="" /></label>
        </div>

        <div>
            <label for="siteDeviceName"><strong>Device Name: </strong><input type="text" class="" name="siteDeviceName" value="" /></label>
            <label for="siteDeviceSerial"><strong>Serial: </strong><input type="text" class="" name="siteDeviceSerial" value="" /></label>
            <label for="siteIpAddress"><strong>IP Address: </strong><input type="text" class="" name="siteIpAddress" value="" /></label>
        </div>

        <div>
            <label for="siteComputer"><strong>Computer: </strong><input type="text" class="" name="siteComputer" value="" /></label>
            <label for="sitePcUsername"><strong>PC Username: </strong><input type="text" class="" name="sitePcUsername" value="" /></label>
            <label for="sitePcPassword"><strong>PC Password: </strong><input type="text" class="" name="sitePcPassword" value="" /></label>

        </div>

        <div>
            <label for="sitePrinter"><strong>Printer: </strong><input type="text" class="" name="sitePrinter" value="" /></label>
            <label for="siteProjectMgr"><strong>Project Manager: </strong><input type="text" class="" name="siteProjectMgr" value="" /></label>

        </div>
        <br>
        <h3>Additional Characteristics</h3>
        <br>

 
        <br>
        <h3>Additional Characteristics</h3>
        <br>
        <div>
            <label for="siteMobileNo"><strong>Mobile Number: </strong><input type="number" class="" name="siteMobileNo" value="" /></label>
            <label for="siteMobileSim"><strong>SIM: </strong><input type="number" class="" name="siteMobileSim" value="" /></label>
        </div>

        <div>
            <input type="Submit" value="Save">
        </div>

    </form>
</div>

{% endblock %}