{% extends "layout_admin.html" %}


{% block nav %}
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdownMenu"
       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Hello! {{username}}</a>

    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenu">
        <a class="dropdown-item" href="{{ url_for('logout') }}  ">Log out</a>
    </div>
</li>
{% endblock %}

{% block content %}




<div class="container" style="overflow-x:auto;">
    <div class="row">
        <div class="col-md-8">
            <h1>Site Details:</h1>
        </div>
        <div class="col-md-2">
            <div id="downloadLink"></div>
        </div>
    </div>
    <button class="btn btn-primary" onclick="printRecords()">Print Records</button>
    <button class="btn btn-primary" onclick="makeCSV()">Export CSV</button>
    <table class="view-table" id="tableView">
        <thead>
            <tr>
                <th scope="row"></th>
                {%  for x in header: %}
                <th> {{ x }} </th>
                {% endfor %}
                <th> </th>
                <th> </th>
            </tr>
        </thead>
        {%  for row in range(rows|length): %}
        <tbody>
            <tr>
                <td><input type="checkbox" name="row-check" value="{{ rows[row][0] }}"></td>
                <td>{{ rows[row][1] }}</td>
                <td>{{ rows[row][2] }}</td>
                {%  for x in rows[row]: %}
                <td>{{ x }}</td>
                {% endfor %}
                <td><a href="{{ url_for('update_assetsMobile')}}?id={{ rows[row][0] }}" class="text-primary">Edit</a></td>
                <td><a href="{{ url_for('delete_mobile')}}?id={{ rows[row][0] }}" class="text-primary">Delete</a>
                <td>
            </tr>
        </tbody>
        {% endfor %}
    </table>

</div>


    {% endblock %}