{% extends "layout_admin.html" %}

{% block nav %}
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdownMenu"
       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Hello! {{username}}</a>

    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenu">
        <a class="dropdown-item" href="{{ url_for('logout') }}  ">Log out</a>
    </div>
</li>
{% endblock %}


{% block content %}

<div class="formcontainer">
    <form action="/update_site_details" method="POST" id="defaultassetform">

        <div class="h1form">
            <h1>Update Site Details</h1>
        </div>

        <div class="h3form">
            <h3>Site Characteristics</h3>
        </div>

        <div class="text_danger">{{ msg }}</div>


        {% if site %}
        <div>
            <input type="text" class="" name="site_id" value="{{ site[0] }}" hidden />
        </div>
        <div class="row">
            <div class="column-25">
                <label for="Site Location"><strong>Site Location:</strong></label>
            </div>
            <div class="column-50">
                <input type="text" class="" name="Site Location" value="{{ site[1] }}" />
            </div>
        </div>

        <div class="row">
            <div class="column-25">
                <label for="Site Address"><strong>Site Address:</strong></label>
            </div>
            <div class="column-50">
                <input type="text" class="" name="Site Address" value="{{ site[2] }}" />
            </div>
        </div>

        <div class="row">
            <div class="column-25">
                <label for="Site Device"><strong>Device: </strong></label>
            </div>

            <div class="column-50">
                <input type="text" class="" name="Site Device" value="{{ site[3] }}" />
            </div>
        </div>


        <div class="row">
            <div class="column-25">
                <label for="Device Name"><strong>Device Name:</strong></label>
            </div>

            <div class="column-50">
                <input type="text" class="" name="Device Name" value="{{ site[4] }}" />
            </div>
        </div>


        <div class="row">
            <div class="column-25">
                <label for="Device Serial"><strong>Serial: </strong></label>
            </div>
            <div class="column-50">
                <input type="text" class="" name="Device Serial" value="{{ site[5] }}" />
            </div>
        </div>

        <div class="row">
            <div class="column-25">
                <label for="IP Address"><strong>IP Address: </strong></label>
            </div>
            <div class="column-50">
                <input type="text" class="" name="IP Address" value="{{ site[6] }}" />
            </div>
        </div>

        <div class="row">
            <div class="column-25">
                <label for="Site Computer"><strong>Computer:</strong></label>
            </div>
            <div class="column-50">
                <input type="text" class="" name="Site Computer" value="{{ site[9] }}" />
            </div>
        </div>

        <div class="row">
            <div class="column-25">
                <label for="PC Username"><strong>PC Username:</strong></label>
            </div>
            <div class="column-50">
                <input type="text" class="" name="PC Username" value="{{ site[10] }}" />
            </div>
        </div>

        <div class="row">
            <div class="column-25">
                <label for="PC Password"><strong>PC Password: </strong></label>
            </div>
            <div class="column-50">
                <input type="text" class="" name="PC Password" value="{{ site[11] }}" />
            </div>
        </div>

        <div class="row">
            <div class="column-25">
                <label for="Printer"><strong>Printer:</strong></label>
            </div>
            <div class="column-50">
                <input type="text" class="" name="Printer" value="{{ site[12] }}" />
            </div>
        </div>

        <div class="row">
            <div class="column-25">
                <label for="Project Manager"><strong>Project Manager:</strong></label>
            </div>
            <div class="column-50">
                <input type="text" class="" name="Project Manager" value="{{ site[13] }}" />
            </div>
        </div>
        <br>

        <div class="h3form">
            <h3>Additional Characteristics</h3>
        </div>

        <div class="row">
            <div class="column-25">
                <label for="Mobile No"><strong>Mobile Number:</strong></label>
            </div>

            <div class="column-50">
                <input type="text" class="" name="Mobile No" value="{{ site[7] }}" />
            </div>
        </div>

        <div class="row">
            <div class="column-25">
                <label for="Mobile Sim"><strong>SIM:</strong></label>
            </div>

            <div class="column-50">
                <input type="text" class="" name="Mobile Sim" value="{{ site[8] }}" />
            </div>
        </div>

        {% endif %}

        <p id="submitbutton"><input type="Submit" value="Save"></p>
    </form>
</div>

{% endblock %}