{% extends "layout_admin.html" %}


{% block nav %}
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdownMenu"
       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Hello! {{username}}</a>

    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenu">
        <a class="dropdown-item" href="{{ url_for('logout') }}  ">Log out</a>
    </div>
</li>
{% endblock %}


{% block content %}


<div class="title"><h1>{{ header }}</h1></div>
<div class="msg">{{ msg }}</div>

<form action="{{ submit_url }}" method="post" id="mobileform">
    <h3>Asset Characteristics:</h3>
    <br>
    <div class="row">
        <div class="column-25">
            <label for="assetType"><strong>Type:</strong></label>
        </div>
        <div class="column-50">
            <select id="assetType" name="assetType" onchange="location = this.value;" disabled="disabled" ;>
                {% for value in menu: %}
                {% if value[0] == 'Tablet' %}
                <option value="{{url_for('new_assetsTablet') }}" selected>{{value[0]}}</option>
                {% elif value[0] == 'Mobile Phone' %}
                <option value="{{url_for('new_assetsMobile') }}">{{value[0]}}</option>
                {% elif value[0] == 'Laptop' %}
                <option value="{{url_for('new_assetsLaptop') }}">{{value[0]}}</option>
                {% else %}
                <option value="#">{{value[0]}}</option>
                {% endif %}

                {% endfor %}
            </select>
        </div>
    </div>

    <div class="row">
        <div class="column-25">
            <label for="assetStatus"><strong>Status:</strong></label>
        </div>
        <div class="column-50">
            <select id="assetStatus" name="Status">
                <option value="active" {% if asset_kv_pair['Status'] =='active' %} selected {% endif %}>Active</option>
                <option value="inrepair" {% if asset_kv_pair['Status'] =='inrepair' %} selected {% endif %}>In Repair </option>
                <option value="condemned" {% if asset_kv_pair['Status'] =='condemned' %} selected {% endif %}>Condemned</option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="column-25">
            <label for="Manufacturer"><strong>Manufacturer:</strong></label>
        </div>
        <div class="column-50">
            <input type="text" name="Manufacturer" value="{{asset_kv_pair['Manufacturer']}}" required />
        </div>
    </div>

    <div class="row">
        <div class="column-25">
            <label for="Name"><strong>Asset Name:</strong></label>
        </div>
        <div class="column-50">
            <input type="text" class="" name="Name" value="{{asset_details[0][1]}}" required />
        </div>
    </div>

    <div class="row">
        <div class="column-25">
            <label for="Model"><strong>Model:</strong></label>
        </div>
        <div class="column-50">
            <input type="text" class="" name="Model" value="{{ asset_kv_pair['Model'] }}" required />
        </div>
    </div>

    <div class="row">
        <div class="column-25">
            <label for="Hardware"><strong>Asset Hardware:</strong></label>
        </div>
        <div class="column-50">
            <input type="text" class="" name="Hardware" value="{{ asset_kv_pair['Hardware'] }}"
                   required />
        </div>
    </div>

    <div class="row">
        <div class="column-25">
            <label for="Device"><strong>Device:</strong></label>
        </div>
        <div class="column-50">
            <input type="text" class="" name="Device" value="{{ asset_kv_pair['Device'] }}" required />
        </div>
    </div>

    <div class="row">
        <div class="column-25">
            <label for="Serial"><strong>Serial:</strong></label>
        </div>
        <div class="column-50">
            <input type="text" class="" name="Serial" value="{{ asset_kv_pair['Serial'] }}" required />
        </div>
    </div>

    <div class="row">
        <div class="column-25">
            <label for="assetAssigned"><strong>Assigned To:</strong></label>
        </div>
        <div class="column-50">
            <input type="text" class="" name="assetAssigned" value="{{ asset_kv_pair['assetAssigned'] }}" required />
        </div>
    </div>

    <div class="row">
        <div class="column-25">
            <label for="PurchaseDate"><strong>Purchase Date:</strong></label>
        </div>
        <div class="column-50">
            <input type="text" class="" name="PurchaseDate" placeholder="YYYY-MM-DD"  value="{{ asset_kv_pair['PurchaseDate'] }}" required/>
        </div>
    </div>
    <br>

    <div class="h3form">
        <h3>Mobile Asset Characteristics</h3>
    </div>

    <div class="row">
        <div class="column-25">
            <label for="SIM_No"><strong>SIM Number:</strong></label>
        </div>
        <div class="column-50">
            <input type="text" class="" name="SIM_No" value="{{ asset_kv_pair['SIM_No'] }}" required />
        </div>
    </div>

    <div class="row">
        <div class="column-25">
            <label for="IEMI"><strong>IEMI:</strong></label>
        </div>
        <div class="column-50">
            <input type="text" class="" name="IEMI" value="{{ asset_kv_pair['IEMI'] }}" required />
        </div>
    </div>

    <div class="row">
        <div class="column-25">
            <label for="Pin"><strong>PIN:</strong></label>
        </div>
        <div class="column-50">
            <input type="text" class="" name="Pin" value="{{ asset_kv_pair['Pin'] }}" required />
        </div>
    </div>
    <br>

    <div class="h3form">
        <h3>Additional Characteristics</h3>
    </div>

    <div class="row">
        <div class="column-25">
            <label for="Notes"><strong>Asset Notes:</strong></label>
            <br>
        </div>
        <div class="column-50">
            <textarea rows="5" cols="50" name="Notes"
                      placeholder="Enter Additional Asset Specifications Here">{{ asset_kv_pair['Notes'] }}</textarea>
            <br>
        </div>
    </div>

    <div>
        <div style="display:none;">
            <input type="text" class="hidden" name="assetID" value="{{asset_details[0][0]}}" />
        </div>
    </div>

    <p id="submitbutton"><input type="Submit" value="Save"></p>

</form>

{% endblock %}
