{% extends "layout_admin.html" %}


{% block nav %}
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdownMenu"
       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Hello! {{username}}</a>

    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenu">
        <a class="dropdown-item" href="{{ url_for('logout') }}  ">Log out</a>
    </div>
</li>
{% endblock %}

{% block content %}

<div class="formcontainer">
    <form action="{{ submit_url }}" method="post" id="defaultassetform">
        <div class="siteHeader">
            <h2>Updata User Details :</h2>
        </div>
        <br>
        <div class="text_danger">{{ msg }}</div>
        <br>
        {% if user %}
        <div>
            <input type="text" class="" name="user_id" value="{{ user[0] }}" hidden />
        </div>
        <div class="row">
            <div class="column-25">
                <label for="userName"><strong>User Name: </strong></label>
            </div>
            <div class="column-50">
                <input type="text" class="" name="userName" value="{{ user[1] }}" />
            </div>
        </div>

        <div class="row">
            <div class="column-25">
                <label for="userEmail"><strong>User Email: </strong></label>
            </div>
            <div class="column-50">
                <input type="text" class="" name="userEmail" value="{{ user[2] }}" />
            </div>
        </div>


        <div class="row">
            <div class="column-25">
                <label for="userPhone"><strong>User Phone No: </strong>></label>

            </div>
            <div class="column-50">
                <input type="text" class="" name="userPhone" value="{{ user[3] }}" />
            </div>
        </div>
        {% else %}
        <div class="row">
            <div class="column-25">
                <label for="userName"><strong>User Name: </strong></label>
            </div>
            <div class="column-50">
                <input type="text" class="" name="userName" value="" />
            </div>
        </div>

        <div class="row">
            <div class="column-25">
                <label for="userEmail"><strong>User Email: </strong></label>
            </div>
            <div class="column-50">
                <input type="text" class="" name="userEmail" value="" />
            </div>
        </div>


        <div class="row">
            <div class="column-25">
                <label for="userPhone"><strong>User Phone No: </strong></label>

            </div>
            <div class="column-50">
                <input type="text" class="" name="userPhone" value="" />
            </div>
        </div>
        {% endif %}

        <p id="submitbutton"><input type="Submit" value="Save"></p>
    </form>
</div>

{% endblock %}

