{% extends "layout_user.html" %}

{% block content %}

<div class="jumbotron">

</div>

<div>
    <div class=" row ">
        <div class="col-2">
            <label class="col-form-label col-form-label-lg" for="searchBox1">Asset Type : </label>
        </div>
        <div class="col-3">
            <select class="custom-select custom-select-lg mb-3" id="searchBox1" onchange="location = this.value;">
                {% for value in type: %}
                {% if value[0] == 'Tablet' %}
                <option value="{{ url_for('tablet') }}" selected>{{ value[0]}} </option>
                {% elif value[0] == 'Mobile Phone'%}
                <option value="{{ url_for('mobile') }}">{{ value[0]}} </option>
                {% elif value[0] == 'Laptop'%}
                <option value="{{ url_for('laptop') }}">{{ value[0]}} </option>
                {% else %}
                <option value="{{ url_for('userview') }}">{{ value[0]}} </option>
                {% endif %}
                {% endfor %}
            </select>
        </div>
    </div>
</div>
<div class="container" style="overflow-x:auto;">
    <h1>Tablets :</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="row"> </th>
                <th> Asset Name </th>
                <th> Asset Type </th>
                {%  for x in keys: %}
                <th> {{ x }} </th>
                {% endfor %}
            </tr>
        </thead>
        {%  for row in range(rows|length): %}
        <tbody>
            <tr>
                <th scope="row"></th>
                <td>{{ rows[row][0] }}</td>
                <td>{{ rows[row][1] }}</td>
                {%  for x in res[row]: %}
                <td>{{ x }}</td>
                {% endfor %}
            </tr>
        </tbody>
        {% endfor %}
    </table>
</div>


{% endblock %}
