{% extends "layout_user.html" %}

{% block content %}

<div class="jumbotron">
  
    <div class=" row ">
        <div class="col-2">
            <label class="col-form-label col-form-label-lg" for="searchBox1">Asset Type : </label>
        </div>
        <div class="col-3">
            <select class="custom-select custom-select-lg mb-3" id="searchBox1" onchange="location = this.value;">
                <option selected> choose asset type </option>
                {% for value in type: %}
                {% if value[0] == 'Tablet' %}
                <option value="{{ url_for('tablet') }}">{{ value[0]}} </option>
                {% elif value[0] == 'Mobile Phone'%}
                <option value="{{ url_for('mobile') }}">{{ value[0]}} </option>
                {% elif value[0] == 'Laptop'%}
                <option value="{{ url_for('laptop') }}">{{ value[0]}} </option>
                {% else %}
                <option value="{{ url_for('userview') }}" disabled>{{ value[0]}} </option>
                {% endif %}
                {% endfor %}
            </select>
        </div>
    </div>
</div>


{% endblock %}
