{% extends "layout_admin.html" %}


{% block nav %}
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdownMenu"
       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Hello! {{username}}</a>

    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenu">
        <a class="dropdown-item" href="{{ url_for('logout') }}  ">Log out</a>
    </div>
</li>
{% endblock %}


{% block content %}

<div class="container" style="overflow-x:auto;">
    <h1>Users :</h1>
    <br>
    {% if msg == 'Error'  %}
        <div class="text-danger">{{ msg }}</div>
    {% else %}
        <div class="text-success">{{ msg }}</div>
    {% endif %}

    <br>
    <table class="view-table">
        <thead>
            <tr>
                <th scope="row"> </th>
                <th> User Name </th>
                <th> User Email </th>
                <th> User Phone No </th>
            </tr>
        </thead>

        {%  for row in range(rows|length): %}
        <tbody>
            <tr>
                <th scope="row"></th>
                <td>{{ rows[row][1] }}</td>
                <td>{{ rows[row][2] }}</td>
                <td>{{ rows[row][3] }}</td>
                <td><a href="{{ url_for('update_users') }}?id={{ rows[row][0] }}" class="text-primary">Edit</a></td>
                <td><a href="{{ url_for('delete_users') }}?id={{ rows[row][0] }}" class="text-primary">Delete</a>
                <td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
</div>

    
{% endblock %}

