{% extends "layout.html" %}
{% block content %}
<body>
    <div class="welcomecontainer">
        <div style="text-align:center">
            <h2>Diona Asset Management System</h2>
            <p>Select User Type</p>
        </div>
        <br>
        <div class="row justify-content-center">
            <div class="col-4">
                <i class="fa fa-users fa-5x" style="padding-bottom:10px;"></i>
                <br>
                <a class="btn btn-secondary" href="{{ url_for('userview')}}" role="button">Employees</a>
            </div>

            <div class="col-3">
                <div class="iconcontainer">
                    <i class="fa fa-user fa-5x"></i>
                </div>
                <p>
                    <a class="btn btn-secondary" href="{{ url_for('login_request')}}" role="button">Administrator</a>
                </p>
            </div>
        </div>
    </div>
</body>
{% endblock %}