body {
    font-family: Roboto, Arial, sans-serif;
    background-image: url('/static/image/boxed-bg.jpg');
    margin: 0;
    height: 100%;
}



/* Navbar styling */

.navcontainerwrapper {
    box-sizing: border-box;
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
}


.topnavcontainer {
    /*  background-color: #ADD8E6;   */
    background-color: #FFFFFF;
    height: 170px;
    overflow: auto;
    margin-bottom: 0;
    border-top: 0px;
}

.topnavlogo {
    margin-left: 15px;
    position: relative;
    float: left;
    font-size: 30px;
    font-family: Roboto, Arial, sans-serif;
}

.name {
    font-size: 20px;
    font-weight: bold;
}


.nav ul,
.nav li,
.nav a {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0;
    line-height: 1;
    font-family: 'Roboto', sans-serif;
    color: black;
}

.nav, .subnav {
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    width: auto;
    zoom: 1;
    padding: 5px 10px;
    border-radius: 5px;
}

    .nav li {
        text-align: center;
        margin: 0 5px 0 0;
        border: 1px solid transparent;
    }

        .nav li a {
            border-radius: 5px;
            padding: 8px 15px 9px 15px;
            display: block;
            text-decoration: none;
            border: 1px solid transparent;
        }



/* Subnav button */
.subnavbtn {
    font-size: 16px;
    font-weight: bold;
    border: inherit;
    outline: inherit;
    color: inherit;
    padding: inherit;
    background-color: inherit;
    font-family: inherit;
    margin: inherit;
}

/* Add a red background color to navigation links on hover */
.nav li a:hover, .subnav:hover .subnavbtn {
    color: #ff7308;
}
/* Style the subnav content - positioned absolute */
.subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: #ff7308;
    width: 100%;
    z-index: 1;
}

    /* Style the subnav links */
    .subnav-content a {
        float: left;
        color: white;
        text-decoration: none;
    }

        /* Add a grey background color on hover */
        .subnav-content a:hover {
            background-color: #eee;
            color: black;
        }

/* When you move the mouse over the subnav container, open the subnav content */
.subnav:hover .subnav-content {
    display: block;
}


.welcomecontainer {
    background-color: #F5F5F5;
    justify-content: center;
    padding: 20px;
    margin-top: 5%;
    margin-left: 25%;
    margin-right: 25%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 15);
    border-radius: 12px;
}

.iconcontainer {
    padding-bottom: 9px;
    padding-left: 28px;
}

.homeHeader {
    text-align: center;
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    border-bottom: 3px solid #212529;
    color: #212529;
}

.siteHeader {
    text-align: left;
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    border-bottom: 3px solid #212529;
    color: #212529;
}

.adminMainContainer {
    background-color: #F5F5F5;
    justify-content: center;
    padding: 20px;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 15);
    border-radius: 12px;
}

.viewContainer {
    background-color: #F5F5F5;
    justify-content: center;
    padding: 20px;
    margin-top: 2%;
    border-bottom: 2%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 15);
    border-radius: 12px;
    overflow-x: auto;
}

/* Login Styling */

.login-form {
    width: 380px;
    margin: 50px auto;
}

    .login-form form {
        margin-bottom: 15px;
        background: #f7f7f7;
        box-shadow: 0 0 5px rgba(0, 0, 0, 15);
        padding: 40px;
    }

    .login-form h3 {
        margin: 0 0 16px;
    }

.form-control {
    padding: 20px;
    height: 44px;
    border-radius: 2px;
}

.btn {
    font-size: 15px;
    font-weight: bold;
}

.h1form {
    text-align: center;
    font-family: Roboto, Arial, sans-serif;
    font-size: 15px;
    color: #4682B4;
}

.h3form {
    text-align: left;
    font-family: Roboto, Arial, sans-serif;
    font-size: 12px;
    border-bottom: 1px solid #4682B4;
    color: #4682B4;
}

input:focus {
    border: 2px solid #2699FB;
}

textarea:focus {
    border: 2px solid #2699FB;
}

.formcontainer {
    background-color: #F5F5F5;
    padding: 20px;
    margin-top: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 15);
    border-radius: 12px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

label {
    padding-top: 12px;
    padding-right: 12px;
    padding-left: 12px;
    display: inline-block;
}

input[type= text], [type= email], select, textarea {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

input[type= date] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

#submitbutton {
    text-align: center;
}

input[type= Submit] {
    width: 15%;
    background-color: #4682B4;
    color: white;
    padding: 10px 16px;
    margin: 5px 0;
    border-radius: 3px;
    cursor: pointer;
}

    input[type= Submit]:hover {
        background-color: #4CAF50;
    }

/* Form Columns */

.column-25 {
    float: left;
    width: 25%;
    margin-top: 5px;
    font-size: 18px;
    font-family: Roboto, Arial, sans-serif;
}

.column-50 {
    float: left;
    width: 50%;
    margin-top: 5px;
}

.column-70 {
    float: left;
    width: 70%;
    margin-top: 5px;
}


/* tables */

.view-table tbody tr:hover {
    background-color: #ADD8E6;
}

.view-table {
    border-collapse: collapse;
    margin: 25px 0px;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 15);
    font-family: Calibri;
}

    .view-table thead tr {
        background-color: #4682B4;
        color: white;
        font-weight: bold;
    }

    .view-table thead th {
        text-align: left;
    }

    .view-table th, .view-table td {
        padding: 10px 12px;
    }

    .view-table tbody tr {
        border-bottom: 1px solid #dddddd;
    }


    .view-table tbody:last-of-type {
        border-bottom: 4px solid #4682B4;
    }

    .view-table tbody {
        background-color: #f3f3f3;
    }

        .view-table tbody:nth-child(2n) {
            background-color: white;
        }

@media print {
    body * {
        visibility: hidden;
    }

    #tableView * {
        visibility: visible;
    }

    #tableView a {
        visibility: hidden;
    }

    #tableView {
        position: absolute;
        top: 40px;
        left: 30px;
        color: black;
    }

        #tableView #checkBx {
            visibility: hidden;
        }

        #tableView th {
            color: #212529
        }
}


#loginUserview {
    border-top: lightgrey 1px solid;
    text-align: center;
}

.extendedTable table {
    width: 100%
}

.borderLeft {
    border-left: lightgrey 1px solid;
    padding-left: 20px;
}



#cancelButton {
    text-align: center;
    width: 15%;
    background-color: #4682B4;
    color: white;
    padding: 10px 16px;
    margin: 5px 0;
    border-radius: 3px;
    cursor: pointer;
}

    #cancelButton:hover {
        background-color: #4CAF50;
    }

/*  from krisneel */
.login-button {
    padding: 0px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: white;
}

    .login-button:hover {
        background-color: rgba(0,136,169,0.8);
        color: white;
    }

#login-button {
    border-radius: none;
    background: none;
    border: none;
    box-shadow: none;
    margin-left: 20px;
}

.nest-list {
    display: flex;
}

.login-nav {
    float: right;
    margin-left: auto;
}